/Prêmio do Milhão/java/target/
/Par ou Ímpar/java/target/
/Soma/java/target/
/É primo/java/target/
/Fila/java/target/
/Positivo, Negativo ou Nulo/java/target/
/Quadrado Mágico (OBI 2006)/java/target/
/Zerinho ou Um/java/target/
/Código (OBI 2015)/java/target/
/Gangorra/java/target/
/Campo Minado/java/target/
/Dominó (OBI 2019)/java/target/
